@import '../libs/variables';
@import '../libs/mixins';

.chat {
  display: flex;
  flex-direction: column;
  height: 100%;

  &-wrapper {
    @include flex(space-between, stretch);
    gap: 48px;
    flex: 1;
    overflow: hidden;
  }

  &-part {
    &:first-child {
      width: 720px;
    }

    &:last-child {
      width: 100%;
    }
  }

  &-list {
    overflow-x: scroll;
    height: 100%;
    padding-right: 16px;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &-item {
    position: relative;
    background: $ghost-white;
    padding: 12px 24px;
    border-radius: 24px;
    box-shadow: 2px 2px 10px 0px rgba(34, 60, 80, 0.2);
    margin-bottom: 16px;

    @include flex();
    gap: 20px;
    transition: 0.1s ease;

    &:hover {
      cursor: pointer;
      background: #fff;
    }

    &__part {
      &:nth-child(2) {
        flex: 1;
      }
    }

    &__img {
      width: 75px;
      aspect-ratio: 1/1;
      border-radius: 100%;
      border: 6px solid #fff;
      box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.15);
      object-fit: cover;
    }

    &__name {
      @include text(18px, 22px, 700, $dark-green);
      margin-bottom: 4px;
    }

    &__message {
      @include text(16px, 20px, 500, $gray);
    }

    &__unseen {
      width: 28px;
      aspect-ratio: 1/1;
      border-radius: 100%;
      background: $green-hover;

      @include text(14px, 16px, 600, #fff);
      @include flex(center, center);
    }
  }

  &-typing {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 12px 12px 0;

    &__header {
      background: $ghost-white;
      padding: 12px 24px;
      border-radius: 24px;
      box-shadow: 2px 2px 10px 0px rgba(34, 60, 80, 0.15);
      @include flex(flex-start, center);
      gap: 32px;

      &-part {
        &:nth-child(2) {
          flex: 1;
        }
      }

      &-img {
        width: 84px;
        aspect-ratio: 1/1;
        border-radius: 100%;
        border: 7px solid #fff;
        box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.15);
        object-fit: cover;
      }

      &-name {
        @include text(22px, 28px, 700, $dark-green);
      }

      &-close {
        width: 40px;
        aspect-ratio: 1/1;
        border-radius: 100%;
        background: rgba($red, 0.8);
        box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.15);
        transition: 0.2s ease;

        @include flex(center, center);

        &:hover {
          background: $red;
          cursor: pointer;
        }

        svg {
          font-size: 24px;
          color: #fff;
        }
      }
    }

    &__body {
      height: 100%;
      width: 100%;
      background: $ghost-white;
      box-shadow: 2px 2px 10px 0px rgba(34, 60, 80, 0.15);
      padding: 24px;
      border-radius: 24px;

      display: flex;
      flex-direction: column;
      gap: 16px;

      &-list {
        flex: 1;
        overflow-y: scroll;

        &::-webkit-scrollbar {
          display: none;
        }
      }

      &-image {
        width: 320px;
        border-radius: 16px;
        box-shadow: 2px 2px 10px 0px rgba(34, 60, 80, 0.15);
      }

      &-message {
        @include flex(flex-end, flex-start);
        flex-direction: column;
        &-self {  
          align-items: flex-end;
          
          .chat-typing__body-message-box {
            background: $green-hover;
            color: $ghost-white;
          }
        }

        &-box {
          max-width: 80%;
          padding: 8px 20px;
          border-radius: 16px;
          background: $message;
          @include text(16px, 20px, 600, $green);
        }

        &-date {
          @include text(16px, 20px, 600, rgba($gray, 0.6));
          margin-top: 6px;
        }
      }

      &-form {
        background: #fff;
        box-shadow: 2px 2px 10px 0px rgba(34, 60, 80, 0.15);
        padding: 12px 20px;
        border-radius: 16px;
        @include flex();
        gap: 12px;

        &-submit {
          width: 40px;
          aspect-ratio: 1/1;
          border-radius: 100%;
          background: $green-hover;
          color: $ghost-white;
          @include flex(center, center);

          transition: 0.2s ease;

          &:hover {
            cursor: pointer;
            background: $green;
          }
        }

        &-input {
          flex: 1;
          outline: none;

          @include text(16px, 20px, 600, $green);

          &::placeholder {
            color: $gray;
            font-weight: 400;
          }
        }
      }
    }
  }
}